
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<a href="./complete.html"></a>
  <div class="panel">
    <img src= <%= user.img %> height="100" width="100" class="pic">
    
    <form class="profilepic" action="/b" method="post" enctype="multipart/form-data">
      <input type="file" name="filetoupload"><br>
      <input type="submit" value="Save Changes">
    </form>
    <form>
      <textarea class="bio" cols="30" rows="10"></textarea>
    </form>
  </div>
</body>
</html>

<style>
  .pic {
    position: absolute;
    top: -55px;
  }
  .profilepic {
    position: relative;
    left: 110px;
    z-index: -1;
  }
  .bio {
    max-width: 300px;
    min-width: 300px;
    min-height: 100px;
    max-height: 100px;
  }
  .panel {
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
  body {
    background-color: #E6E7EE;
  }                                                                     
</style>